@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url("Montserrat-VariableFont_wght-f8e0d455f98badaba45462dc85ad5ffc.woff2")  format('woff2'),
    url("Montserrat-VariableFont_wght-52a37115b1d8d5d6ae0b0e373e692c9d.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Italic"),
    url("Montserrat-Italic-VariableFont_wght-b0dd52403c37f9a07a7d7fcd8cde563e.woff2")  format('woff2'),
    url("Montserrat-Italic-VariableFont_wght-5b315bd5a3b7fa34eef7dfd5786b90b0.ttf") format("truetype");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("Mont-Bold-b2bb957ae0f6f57f974e16b06641ece3.woff2")  format('woff2'),
    url("Mont-Bold-efd54e736e9b6208710472c9c1479659.ttf") format("truetype");
    font-style: normal;
    font-weight: 800 900;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("Mont-Light-567ec626ffbec518e9312fd59856e870.woff2")  format('woff2'),
    url("Mont-Light-b2eac4c24494fce5da9406191a68a06e.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 300;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("Mont-Regular-fa399e85bafea6544c17220d8599c59e.woff2")  format('woff2'),
    url("Mont-Regular-abb74a597efa488c9c0e5da1cf8f8570.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("Mont-SemiBold-594b8cebcb2544b0c40f6f8f880a91e3.woff2")  format('woff2'),
    url("Mont-SemiBold-5cf16df9fb7a9a4aafd56cb48be75cf2.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
